<a href="https://colab.research.google.com/github/hatimdeve/python/blob/main/poblempython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def fillmarkes():
  markesstudents={}
  while True:
    studentid=input("entrer le id ")
    markes=input('give the markes separated with "," ')
    moremarkes=input('enter "no" to quit insertion')
    if studentid in markesstudents:
      print(studentid ,"this id already exist")
    else:
      markesstudents[studentid]=markes.split(',')
    if moremarkes.lower()=='no':
      return markesstudents

In [10]:
d=fillmarkes()

entrer le id 1
give the markes separated with "," 12,15,14
enter "no" to quit insertionfhgf
entrer le id 2
give the markes separated with "," 12,12,15,16
enter "no" to quit insertionrgrt
entrer le id 3
give the markes separated with "," 18,12,16,19,17
enter "no" to quit insertionno

In [11]:
d

{'1': ['12', '15', '14'],
 '2': ['12', '12', '15', '16'],
 '3': ['18', '12', '16', '19', '17']}

In [14]:
def markavg(d):
  avgg={}
  for x in d:
    l=d[x]
    s=0
    for b in l:
      s+=int(b)
    avgg[x]=s/len(l)
  return avgg

In [16]:
avg=markavg(d)
for x in avg:
  print("student",x,": his marke is", avg[x],":")

student 1 : his marke is 13.666666666666666 :
student 2 : his marke is 13.75 :
student 3 : his marke is 16.4 :