<a href="https://colab.research.google.com/github/hatimdeve/python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [4]:
from google.colab import files
import io
uploaded=files.upload()

Saving Reg-Lin_mult_50-Startups.csv to Reg-Lin_mult_50-Startups.csv

In [7]:
df=pd.read_csv(io.BytesIO(uploaded['Reg-Lin_mult_50-Startups.csv']))

In [9]:
df.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54  California  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42  California  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68    New York  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [17]:
X=df.iloc[:,:-2]
y=df.iloc[:,-1]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [16]:
model=LinearRegression()

In [18]:
model.fit(X_train,y_train)

LinearRegression()

In [19]:
y_predct=model.predict(X_test)

In [21]:
predect=pd.DataFrame(y_predct,y_test)
predect

                       0
Profit
134307.35  126703.027165
81005.76    84894.750816
99937.59    98893.418160
64926.08    46501.708150
125370.37  129128.397344
35673.41    50992.694863
105733.54  109016.553658
107404.34  100878.464145
97427.84    97700.596386
122776.86  113106.152922

In [24]:
e=r2_score(y_test,y_predct)
e

0.9000653083037321